.roomsMainSection {
  width: 100vw;
  max-height: 78vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.roomsMainContainer {
  padding: 1rem;
  display: flex;

  color: var(--text-color);
  background-color: var(--glass-bcg-color);
  backdrop-filter: blur(var(--glass-bcg-blur));
  box-shadow: var(--glass-box-shadow);
  border-radius: 5px;
}
.roomsSubContainer {
  padding: 40px 20px;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}
