.statisticsPageBox {
  max-height: 80vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  background-color: var(--glass-bcg-color);
  border-radius: var(--card-radius);
  backdrop-filter: blur(var(--glass-bcg-blur));
}

.chartContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
@media only screen and (max-width: 1068px) {
  .chartContainer {
    width: 90vw;
  }
  .statisticsPageBox {
    grid-template-columns: auto;
    width: 100vw;
    padding: 10px;
  }
  .avgCons {
    min-width: 100%;
  }
  .avgExps {
    min-width: 100%;
  }
  .predictions {
    min-width: 100%;
  }
}

.chartBox {
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--chart-bcg-color);
  border: var(--chart-border);
  backdrop-filter: blur(var(--chart-bcg-blur));
}

.summary {
  max-width: 750px;
  position: relative;
}
.summaryMainButton {
  position: absolute;
  bottom: 50%;
  right: calc(50% - 100px);
  height: 50px;
  width: 200px;
}
.summaryCloseButton {
  position: absolute;
  top: 30px;
  right: 35px;
  padding: 2px 6px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}
.summaryCloseButton:hover {
  background-color: red;
  cursor: pointer;
}

.chartTitle {
  font-size: var(--chart-fs-title);
  font-weight: lighter;
  padding-left: 20px;
}

.avgCons {
  max-width: 40vw;
}
.avgExps {
  max-width: 40vw;
}
.predictions {
  max-width: 40vw;
}
