.statisticsPageBox {
  max-height: 80vh;
  overflow-y: auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
}

.chartContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
@media only screen and (max-width: 1068px) {
  .chartContainer {
    width: 90vw;
  }
  .statisticsPageBox {
    grid-template-columns: auto;
    width: 100vw;
    padding: 10px;
  }
  .avgCons {
    min-width: 100%;
  }
  .avgExps {
    min-width: 100%;
  }
  .predictions {
    min-width: 100%;
  }
}

.chartBox {
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--chart-bcg-color);
  border: var(--chart-border);
  backdrop-filter: blur(8px);
}

.avgCons {
  max-width: 40vw;
}
.avgExps {
  max-width: 40vw;
}
.predictions {
  max-width: 40vw;
}
