.serviceContainer {
  width: 100vw;
  max-height: 84vh;
  overflow-y: auto;
}

.serviceColumn {
  display: grid;
  grid-template-columns: auto auto auto;
}
@media only screen and (max-width: 600px) {
  .serviceColumn {
    grid-template-columns: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 800px) {
  .serviceColumn {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .serviceColumn {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1400px) {
  .serviceColumn {
    grid-template-columns: auto auto auto auto;
  }
}

.serviceCardBox {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  border: 2px solid rgba(255, 255, 255, 0.068);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.096);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  max-width: 230px;
  min-height: 100px;
  min-width: 200px;
}
