* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 100;
}
* {
  --dark-color: #13141d;
  --dark-accent-color: #3b5ab8;
  --text-color: #ffffff;
  --lighter-text-color: #e7e6e6;
  --accent-color: #f11f81;
}

body {
  background: linear-gradient(
    -5deg,
    rgba(27, 29, 46, 1) 50%,
    rgba(39, 34, 83, 1) 70%,
    rgba(59, 90, 184, 1) 100%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.triangle {
  position: absolute;
  right: 120px;
  top: 100px;
  z-index: -1;
  animation-name: rotation;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blend {
  position: absolute;
  width: 100vw;
  left: 0px;
  bottom: 0px;
  z-index: -2;
}

.mainGlass {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  max-height: 50vh;
  overflow: auto;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(7px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.178);
}
@media only screen and (max-width: 1568px) {
  .mainGlass {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1068px) {
  .mainGlass {
    grid-template-columns: auto auto;
    max-height: 55vh;
  }
}
@media only screen and (max-width: 680px) {
  .mainGlass {
    grid-template-columns: auto;
    max-height: 65vh;
  }
}

.color-light {
  color: var(--lighter-text-color);
}

.btn-custom {
  background-color: #f11f81;
  padding: 10px 15px;
  border-radius: 10px;
}
.btn-custom:hover {
  background-color: #aa135a;
  cursor: pointer;
  transform: scale(1.06);
}

.afterElementForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
}
.active > * {
  color: white;
}
.active {
  border-bottom: 5px solid #e408a2;
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: #cecbc8;
}

.link:hover {
  color: #cecbc8;
}

/* width */
::-webkit-scrollbar {
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-color);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.128);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(22, 34, 87);
}

@keyframes rotation {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
